*{
	margin:0;
	padding:0;
}

body{
	margin:0;
	padding:0;
}

#temas{
	width:100%;
	padding:10px 0 10px 0px;
	background:black;
	text-align:center;
}
#temas li{
	display:inline;
	margin-left:10px;
}

#temas input:hover{
	cursor:pointer;
}

#temas label{
	font-family:"verdana";
	color:white;

}

