body
{
	background:#f25000;
	font-family:"Arial Black";
	border:none;
	margin:none;
}

#calc
{
width:500px;
background:white;
margin:auto;
border-radius:30px;
margin-top:15px;
}



#calc h3
{
text-align:center;
padding:10px;
color:#f25000;

}

#calc input[type=text]
{
border:none;
width:100%;
height:70px;
font-size:50px;
background:#eee;
margin-bottom:10px;
}


#calc button
{
float:left;
border:none;
margin:none;
padding:none;

width:25%;
height:30px;
background:white;
font-size:25px;
font-weight:bold;

}

#calc button:hover
{
	background:#f25000;
	color:white;
	cursor:pointer;
	transition:linear 0.5s;
}

footer
{
	clear:both;
	width:100%;
	padding:30px 0px;
	text-align:center;
	background:black;
	color:white;
}