

#calc{
	width:250px;
	height:400px;
	border:1px solid black;
	background-color:#ccc;
	margin:auto;

	
}


body{
	background-color:#fef3fe;
}

#calc h3{
text-align:center;
}

#calc header input{
	width:98.5%;
	height:50px;
}

#calc button{
	width:25%;
	height:50px;
	float:left;

}

#zero{
	width:40%;
}

#calc span{
	clear:both;
}